In [ ]:
%matplotlib inline
import pandas as pd

In [ ]:
df = pd.read_csv('college-salary-data.csv')

In [21]:
df['School Type'].unique()

array([nan, 'Engineering', 'State', 'Liberal Arts', 'Party', 'Ivy League'],
      dtype=object)

In [22]:
df['Region'].unique()

array(['California', 'Western', 'Midwestern', 'Southern', 'Northeastern'],
      dtype=object)

In [23]:
df.columns

Index(['School Name', 'Region', 'School Type', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Growth Potential'],
      dtype='object')

In [ ]:
# Which school names contain the word 'Technology'?
df[df['School Name'].str.contains('University')]

In [ ]:
# What percentage of each type of school have mid-career median salaries above $100k?
df[df['Mid-Career Median Salary']>=100]['School Type'].value_counts()/df['School Type'].value_counts()

In [ ]:
# If I want my mid-career salary to be above $100k, which schools can I go to?
df[df['Mid-Career Median Salary']>=100]

In [20]:
# If I want to go to a party school, which school do I want to choose?
df[df['School Type']== 'Engineering'].sort_values(by='Mid-Career 90th Percentile Salary',ascending=False)

,School Name,Region,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,Growth Potential
239,Massachusetts Institute of Technology (MIT),Northeastern,Engineering,72.2,126.0,76.8,99.2,168.0,220.0,74.515235
246,Carnegie Mellon University (CMU),Northeastern,Engineering,61.8,111.0,63.3,80.1,150.0,209.0,79.611650
29,Colorado School of Mines,Western,Engineering,58.1,106.0,62.2,87.9,142.0,201.0,82.444062
243,Polytechnic University of New York Brooklyn,Northeastern,Engineering,62.4,114.0,66.8,94.3,143.0,190.0,82.692308
257,Stevens Institute of Technology,Northeastern,Engineering,60.6,105.0,68.7,81.9,138.0,185.0,73.267327
150,Georgia Institute of Technology,Southern,Engineering,58.3,106.0,67.2,85.2,137.0,183.0,81.818182
247,Rensselaer Polytechnic Institute (RPI),Northeastern,Engineering,61.1,110.0,71.6,85.5,140.0,182.0,80.032733
245,Worcester Polytechnic Institute (WPI),Northeastern,Engineering,61.0,114.0,80.0,91.2,137.0,180.0,86.885246
75,Illinois Institute of Technology (IIT),Midwestern,Engineering,56.0,97.8,56.1,77.4,121.0,165.0,74.642857
158,Virginia Polytechnic Institute and State Unive...,Southern,Engineering,53.5,95.4,50.6,71.4,124.0,163.0,78.317757
301,Rochester Institute of Technology (RIT),Northeastern,Engineering,48.9,84.6,45.0,62.1,112.0,159.0,73.006135
265,Wentworth Institute of Technology,Northeastern,Engineering,53.0,96.7,55.2,74.0,117.0,153.0,82.452830
81,South Dakota School of Mines & Technology,Midwestern,Engineering,55.8,93.4,71.5,81.9,122.0,147.0,67.383513
190,Tennessee Technological University,Southern,Engineering,46.2,80.0,42.1,62.6,99.5,121.0,73.160173
1,California Institute of Technology (CIT),California,Engineering,75.5,123.0,NaN,104.0,161.0,NaN,62.913907
2,Harvey Mudd College,California,Engineering,71.8,122.0,NaN,96.0,180.0,NaN,69.916435
31,New Mexico Institute of Mining and Technology ...,Western,Engineering,51.0,93.4,NaN,67.4,123.0,NaN,83.137255
244,Cooper Union,Northeastern,Engineering,62.2,114.0,NaN,80.2,142.0,NaN,83.279743

In [ ]:
# Plot median salary by college type.
df.groupby(df['School Type']).agg({
    'Starting Median Salary': 'mean', 
    'Mid-Career Median Salary': 'mean', 
}).plot(kind='bar', figsize=(10, 5))

In [ ]:
# Plot 90th percentile mid-career salary by college type.
df.groupby(df['School Type']).agg({
    'Starting Median Salary': 'mean', 
    'Mid-Career 90th Percentile Salary': ['mean', 'max'],
}).plot(kind='bar', figsize=(10, 5))

In [ ]:
# Which schools have the most salary growth potential?
df['Growth Potential']=(df['Mid-Career Median Salary'] - df['Starting Median Salary']) / df['Starting Median Salary'] * 100
df[['School Name','Growth Potential']].sort_values(by='Growth Potential', ascending=False)

In [ ]:
%matplotlib inline
import pandas as pd

df = pd.read_csv('college-salary-data.csv')

# Which school names contain the word 'Technology'?
df[df['School Name'].str.contains('Technology')]

# What percentage of each type of school have mid-career median salaries above $100k?
df[df['Mid-Career Median Salary']>=100]['School Type'].value_counts()/df['School Type'].value_counts()

# If I want my mid-career salary to be above $100k, which schools can I go to?
df[df['Mid-Career Median Salary']>=100]

# If I want to go to a party school, which school do I want to choose?
df[df['School Type']== 'Party'].sort_values(by='Starting Median Salary',ascending=False)

# Plot median salary by college type.
df.groupby(df['School Type']).agg({
    'Starting Median Salary': 'mean', 
    'Mid-Career Median Salary': 'mean', 
}).plot(kind='bar', figsize=(10, 5))

# Plot 90th percentile mid-career salary by college type.
df.groupby(df['School Type']).agg({
    'Starting Median Salary': 'mean', 
    'Mid-Career 90th Percentile Salary': ['mean', 'max'],
}).plot(kind='bar', figsize=(10, 5))

# Which schools have the most salary growth potential?
df['Growth Potential']=(df['Mid-Career Median Salary'] - df['Starting Median Salary']) / df['Starting Median Salary'] * 100
df[['School Name','Growth Potential']].sort_values(by='Growth Potential', ascending=False)